<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Movie Modify Page</h1>
    <style>
      .form-group {margin-bottom: 30px;}
      .uploadResult {width: 100%;background:gray;margin-top:10px;}
      .uploadResult ul {
        display: flex;flex-flow:row;justify-content:center;
        align-items:center;vertical-align:top;overflow: auto;
      }
      .uploadResult ul li {list-style:none;padding:10px;margin-left:2em;}
      .uploadResult ul li img {width: 100px;}
    </style>
    <form th:action="@{/movie/modify}" th:method="post" id="frmSend">
      <div class="form-group">
        <label>Mno</label>
        <input type="text" th:value="${movieDTO.mno}" name="mno" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" th:value="${movieDTO.title}" class="form-control">
      </div>
      <div style="margin-bottom: 30px;">
        <label>Review Count</label>
        <input type="text" name="reviewCnt" class="form-control" readonly th:value="${movieDTO.reviewCnt}">
      </div>
      <div style="margin-bottom: 30px;">
        <label>Average</label>
        <input type="text" name="avg" readonly class="form-control" th:value="${movieDTO.avg}">
      </div>
      <div class="form-group">
        <label>RegDate</label>
        <input type="text" class="form-control"
               th:value="${#temporals.format(movieDTO.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
      <div class="form-group">
        <label>ModDate</label>
        <input type="text" class="form-control"
               th:value="${#temporals.format(movieDTO.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
      <div class="form-group">
        <label for="fileInput">Select Image Files</label>
        <input type="file" id="fileInput" class="custom-file-input form-control files"
               multiple></input>
        <label id="custom-label"></label>
      </div>
      <div class="box"></div>
      <div class="form-group">
        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
        <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
        <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
        <button class="btn btn-primary btnModi">Modify</button>
        <button class="btn btn-danger btnDele">Delete</button>
        <button class="btn btn-info btnBack">Back</button>
      </div>
    </form>
    <div class="uploadResult">
      <ul>
        <li th:each="movieImageDTO : ${movieDTO.imageDTOList}"
            th:data-path='${movieImageDTO.path}'
            th:data-uuid='${movieImageDTO.uuid}'
            th:data-file='${movieImageDTO.getImageURL}'
            th:data-name='${movieImageDTO.imgName}'
            style="cursor:pointer;">
          <div>
            <button type="button"
                    th:onclick="deleteFileDb(this)">X
            </button>
            <img
                th:if="${movieImageDTO.path != null}"
                th:src="|@{/display(fileName=${movieImageDTO.getThumbnailURL})}|">
          </div>
        </li>
      </ul>
    </div>
    <script th:inline="javascript">
      function checkExtension(fileName, fileSize){
        maxSize = 1024*1024*10;
        if(fileSize >= maxSize) {alert("파일사이즈 초과");return false; }
        // https://developer.mozilla.org/ko/docs/Web/JavaScript/Guide/Regular_expressions
        //const regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        const regex = new RegExp("(.*?)\.(jpg|jpeg|png|gif|bmp|pdf)$",'i');//i대소문자구분X
        if(!regex.test(fileName)) {alert("해당파일 업로드 금지!");return false; }
        return true
      }
      const fileInput = document.querySelector("#fileInput")
      fileInput.onchange = function() {
        let formData = new FormData();
        const fileName = fileInput.value.split("\\").pop();
        let label = document.querySelector("#custom-label")
        label.innerHTML =
          (fileInput.files.length-1) == 0 ? "" :
                `${fileName} 외 ${fileInput.files.length-1}개`
        let appended = false; // 파일이 잘 추가되는지 확인
        for(let i=0;i<fileInput.files.length;i++) {
          if(!checkExtension(fileInput.files[i].name, fileInput.files.size)) {
            label.innerHTML = ''; fileInput.value = '';
            appended = false;break;
          }
          formData.append("uploadFiles", fileInput.files[i])
          appended = true;
        }
        if(!appended) return;
        for(const value of formData.values()) console.log(value)
        const url = /*[[@{/uploadAjax}]]*/'url'
        fetch(url, {
          method: 'POST', body: formData, dataType: 'json'
        })
        .then(res => res.json())
        .then(json => {console.log(json);showResult(json);})
        .catch(err => console.log('Error: ', err))
      }
      function deleteFileDb(btn) {
        const removeUrl = /*[[@{/removeFile?fileName=}]]*/'removeUrl'
        const targetLi = btn.closest('li')
        const fileName = targetLi.dataset.file;
        const uuid = targetLi.dataset.uuid;
        /*
        fetch(removeUrl+fileName+"&uuid="+uuid, {
          method: 'POST', dataType: 'json', fileName: fileName
        })
        .then(response => response.json())
        .then(json => {
          console.log(json)
          if(json === true) targetLi.remove()
        })
        .catch(err => console.log("Error occurred: ", err))
        */
        targetLi.remove()
      }
      function showResult(arr) {
        const uploadUL = document.querySelector(".uploadResult ul");
        let str = ""
        const url = /*[[@{/display}]]*/'url'
        for(let i=0;i<arr.length;i++){
          str += `<li data-name='${arr[i].fileName}' data-path='${arr[i].folderPath}'
          data-uuid='${arr[i].uuid}' data-file='${arr[i].imageURL}'><div>
          <button class="removeBtn" type="button">X</button>
          <img src="${url}?fileName=${arr[i].thumbnailURL}">
          </div></li>`
        }
        uploadUL.innerHTML += str;
        const removeBtns = document.querySelectorAll(".removeBtn");
        for(let i=0;i<removeBtns.length;i++){
          removeBtns[i].onclick = function() {
            const removeUrl = /*[[@{/removeFile?fileName=}]]*/'removeUrl'
            const targetLi = this.closest('li')
            const fileName = targetLi.dataset.file;
            fetch(removeUrl+fileName, {
              method: 'POST', dataType: 'json', fileName: fileName
            })
            .then(response => response.json())
            .then(json => {
              console.log(json)
              if(json === true) targetLi.remove()
              document.querySelector("#custom-label").innerHTML = ''
              document.querySelector("#fileInput").value = '';
            })
            .catch(err => console.log("Error occurred: ", err))
          }
        }
      }
      btnModi = document.querySelector(".btnModi")
      btnDele = document.querySelector(".btnDele")
      btnBack = document.querySelector(".btnBack")
      frmSend = document.querySelector("#frmSend")
      btnModi.onclick = e => {
        e.preventDefault() // 유효성검사 넣어줄 것!
        const title = document.querySelector("input[name='title']")
        if(title.value == "") {title.focus();return false;}

        let str = "";
        const liArr = document.querySelectorAll(".uploadResult ul li");
        for(let i=0;i<liArr.length;i++){
          str += `
            <input type="hidden" name="imageDTOList[${i}].imgName" value="${liArr[i].dataset.name}">
            <input type="hidden" name="imageDTOList[${i}].path" value="${liArr[i].dataset.path}">
            <input type="hidden" name="imageDTOList[${i}].uuid" value="${liArr[i].dataset.uuid}">
          `
        }
        document.querySelector(".box").innerHTML = str;
        /*if(fileInput.files.length == 0) {
          document.querySelector("#custom-label").innerHTML =
            "파일을 선택하세요!"
          fileInput.focus(); return false;
        }*/
        frmSend.submit();
      }
      btnDele.onclick = e => {
        e.preventDefault()
        frmSend.setAttribute('action', /*[[@{/movie/remove}]]*/'remove')
        frmSend.submit();
      }
      btnBack.onclick = e => {
        e.preventDefault()
        window.history.back();
      }
    </script>
  </th:block>

</th:block>

</html>