<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Guestbook Modify Page</h1>
    <style>
      .form-group {margin-bottom: 30px;}
    </style>
    <form th:action="@{/guestbook/modify}" th:method="post" id="frmSend">
      <div class="form-group">
        <label for="gno">Gno</label>
        <input type="text" name="gno" id="gno" class="form-control"
               th:value="${guestbookDTO.gno}" readonly>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control"
               th:value="${guestbookDTO.title}">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" name="content" id="content" class="form-control"
                  th:text="${guestbookDTO.content}"></textarea>
      </div>
      <div class="form-group">
        <label for="writer">Writer</label>
        <input type="text" name="writer" id="writer" class="form-control"
               th:value="${guestbookDTO.writer}" readonly>
      </div>
      <div class="form-group">
        <label for="regDate">RegDate</label>
        <input type="text" id="regDate" class="form-control" readonly
               th:value="${#temporals.format(guestbookDTO.regDate, 'yyyy/MM/dd hh:mm')}">
      </div>
      <div class="form-group">
        <label for="modDate">ModDate</label>
        <input type="text" id="modDate" class="form-control" readonly
               th:value="${#temporals.format(guestbookDTO.modDate, 'yyyy/MM/dd hh:mm')}">
      </div>
      <div class="form-group">
        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
        <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
        <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
        <button class="btn btn-primary btnModi">Modify</button>
        <button class="btn btn-danger btnDele">Delete</button>
        <button class="btn btn-info btnBack">Back</button>
      </div>
    </form>
    <script th:inline="javascript">
      btnModi = document.querySelector(".btnModi")
      btnDele = document.querySelector(".btnDele")
      btnBack = document.querySelector(".btnBack")
      frmSend = document.querySelector("#frmSend")
      btnModi.onclick = e => {
        e.preventDefault() // 유효성검사 넣어줄 것!
        frmSend.submit();
      }
      btnDele.onclick = e => {
        e.preventDefault()
        frmSend.setAttribute('action', /*[[@{/guestbook/remove}]]*/'remove')
        frmSend.submit();
      }
      btnBack.onclick = e => {
        e.preventDefault()
        window.history.back();
      }
    </script>
  </th:block>

</th:block>

</html>