<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Guestbook Register Page</h1>
    <style>
      .form-group {margin-bottom: 30px;}
    </style>
    <form th:action="@{/guestbook/register}" th:method="post" id="frmSend">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control"
               placeholder="타이틀을 입력하세요">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" name="content" id="content" class="form-control"
                  placeholder="내용을 입력하세요"></textarea>
      </div>
      <div class="form-group">
        <label for="writer">Writer</label>
        <input type="text" name="writer" id="writer" class="form-control"
               placeholder="작성자를 입력하세요" value="user1">
      </div>
      <div class="form-group">
        <button type="submit" id="btnSend" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <script th:inline="javascript">
      btnSend = document.querySelector("#btnSend");
      btnSend.onclick = function(e) {
        e.preventDefault();
        title = document.getElementById("title")
        writer = document.querySelector("#writer")
        if(title.value == "") {title.focus();return false;}
        if(writer.value == "") {writer.focus();return false;}
        document.querySelector("#frmSend").submit();
      }

    </script>
  </th:block>

</th:block>

</html>